html {
    background-color: lightblue;
}

h1 {
    font-size: 50px;
    font-family: Kanit, monospace, sans-serif;
    font-weight: 100;
    margin-top: 0;
    
}

li {
    list-style-type: none;
    font-size: 32px;
    text-align: center;
    padding-top: 20px;
}


